@import url('https://fonts.google.com/specimen/Outfit');

@media screen and (min-width:500px) {
    body {
        background-color: yellow;
    }
}

@media screen and (max-width:500px) {
    body {
        background-color: purple;
    }
}

#heading {
    font-family: Outfit;
    font-weight: 700;
    padding: 5%;
}

#pText {
    font-family: Outfit;
    font-weight: 400;
}

#body {
    background-color: hsl(212, 45%, 89%);
    padding-top: 10%;
}

#card {
    background-color: hsl(0, 0%, 100%);
}