@media screen and (min-width:500px){
    body{
        background-color: yellow;
    }
}
@media screen and (max-width:500px){
    body{
        background-color: purple;
    }
}

#body {
    background-color: hsl(212, 45%, 89%);
    padding-top: 10%;
}

#card {
    background-color: hsl(0, 0%, 100%);
}