#heading {
    font-weight: 700;
    padding: 5%;
    color: hsl(218, 44%, 22%);
    font-family: Outfit, sans-serif;
}

#pText {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-family: Outfit, sans-serif;
}

#body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    padding: 5%;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#card {
    background-color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: Outfit, sans-serif;
    position: fixed;
    bottom: 0;
    display: none;
}

#code {
    height: auto;
    width: auto;
}